* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.parent1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: -50px 0px 0px 0px;
}

h1 {
    font-size: 5rem;
    /* font-family: 'Allerta Stencil', sans-serif; */
    font-family: 'Audiowide', cursive;
    transform: scale(1.4, 1.4);
    letter-spacing: 1px;
    height: auto;
    width: auto;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.581);
    color: transparent;
    margin-top: 5rem;
    font-weight: 800;

}

.child1 {
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.nav {
    z-index: 1;
    height: 50px;
    width: 100%;
    display: inline-block;
    position: relative;
    top: 1.5rem;

}

.list {
    height: 40px;
    width: 530px;
    position: absolute;
    display: inline-block;
    background-color: rgba(0, 0, 255, 0);
    left: 60%;
}

.list1 {
    height: 40px;
    width: 100px;
    position: relative;
    display: inline-block;
    background-color: rgba(165, 42, 42, 0);
    left: 8%;
    margin-top: 6px;
}

.list2 {
    height: 40px;
    width: 100px;
    position: relative;
    display: inline-block;
    background-color: rgba(165, 42, 42, 0);
    left: 6%;
    margin-top: 6px;

}

.ces-logo {
    height: 40px;
    width: auto;
    display: inline-block;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.list-items {
    display: inline-block;
    letter-spacing: 1px;
    height: 22px;
    width: fit-content;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;

}

.list-items:hover {
    color: red;
    transition: all 0.8s ease;

}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    background: url(13.png);
    background-size: contain;
    background-position: top;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.581);
    border-right: 2px solid rgb(34, 255, 218);
    overflow: hidden;
    animation: animate 6s linear infinite;

}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90%,
    80% {
        width: 100%;
    }
}

.mobilenav {
    /* border: 2px solid red; */
    position: relative;
    display: inline-block;
    height: 35px;
    width: 40px;
    box-sizing: border-box;
    /* padding: 12px 10px 10px 12px; */
    /* text-align: center; */
    /* justify-items: center; */
    /* justify-content:center; */
    align-items: center;
    padding: 2px 4px;
    color: white;
    border-radius: 25%;
    display: none;
    cursor: pointer;
}

.mobilenav ion-icon[name="close-circle"] {
    display: none;
}

.list-item {
    display: block;
}

.list-items {
    display: block;
    height: 13px;
}

.mobilenav:hover {
    color: rgb(83, 212, 212);
}

.list1 {
    left: 6%
}

.list2 {
    left: 4%
}

.list-items {
    font-size: 14px;

}





/* CSS for button starts */

.button2 {

    display: flex;
    margin-bottom: 1.2rem;
    /* position: relative; */
    /* top: 70%; */
    /* background-color: #27272b; */
}

.btn1 {
    margin-top: 3rem;
}

.btn {
    position: relative;
    /* margin-left: 700px; */
    width: 200px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.35);
    border-left: 0.5px solid rgba(255, 255, 255, 0.35);
    padding-left: 40px;
    transition: 0.5s;
    overflow: hidden;
}

.btn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: rgba(255, 255, 255, 1);
}

.btn span {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #59effa;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a191d;
    font-size: 1.5em;
}

.btn:hover span {
    left: calc(100% - 55px);

}

.btn::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(-170px) skewX(30deg);
    transition: 0.75s ease-in-out;
}

.btn:hover::after {
    transform: translateX(170px) skewX(30deg);
}

/* CSS for button ends */

/* CSS for headings ends */

.section_heading {
    display: flex;
    height: 4rem;
    background-color: rgb(36, 34, 34);
    z-index: 1001;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.heading {
    position: relative;
    /* margin-left: 700px; */
    width: 15rem;
    height: 60px;
    background-color: rgb(36, 34, 34);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.35);
    border-left: 0.5px solid rgba(255, 255, 255, 0.35);
    padding-left: 40px;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.heading:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: rgba(255, 255, 255, 1);
}

.heading:hover span {
    left: calc(100% - 55px);

}

.heading::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(-170px) skewX(30deg);
    transition: 0.75s ease-in-out;
}

.heading:hover::after {
    transform: translateX(170px) skewX(30deg);
}

.head2 {
    background-color: #161623;
}

.head3 {
    background-color: #666666;

}

.head5 {
    background-color: #2e2e34;

}

.head6 {
    background-color: #161623
}

.head3 .heading {
    background-color: #666666;
    color: black;
    font-weight: 700;
}

/* CSS for heading ends */

/* CSS for Event coord. section starts */

.event {
    display: flex;
}

.container {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 0;
    background-color: rgb(36, 34, 36);
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 50px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 320px;
}

.container .card .imgbx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.container .card .imgbx img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.xyz {
    width: 70%;
    padding-left: 37px;
}

.abc {
    height: 70%;
    width: 78%;
    padding-left: 24px;
}


/* CSS for event coord. section ends */



/* CSS for winner section starts */

.winner {
    position: relative;
    background-color: #161623
}

.winner23::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(20% at right 80%);
}

.winner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.container2 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container3 {

    background-color: #161623;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container2 .card2 {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container3 .card2 {
    position: relative;
    width: 80%;
    height: 200px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container2 .card2 .content2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container2 .card2:hover .content2 {
    opacity: 1;
    transform: translateY(-20px);
}

.container2 .card2 .content2 .imgbx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container2 .card2 .content2 .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container2 .card2 .content2 .contentbx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container2 .card2 .content2 .contentbx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.winner23 {
    position: relative;
    background-color: #161623
}

/* CSS FOR WINNER SECTION ENDS */

/* CSS FOR DETAILS SECTION STARTS */


.container3 {
    background-color: #2e2e34;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.details_content {
    padding: 10px 10px;
}

/* CSS FOR DETAILS SECTION ENDS */

/* CSS FOR FAQS SECTION STARTS */

.faqs {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: #666666;
    font-family: 'Kanit', sans-serif;
    font-weight: larger;
    justify-content: space-around;
    overflow-y: hidden;
}

.faqs img {
    width: 45rem;
    height: 30rem;
    margin-top: -6rem;
    position: relative;
    z-index: 1000;

}

.containerFluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 5rem;
}

.containerFluid h2 {
    color: rgb(255, 255, 255);
    position: relative;
    width: 24rem;
    margin: 4rem 0 2rem 0;
}

.accordion {
    color: white;
    width: 100%;
    padding: 0 5px;
    background-color: rgb(71, 70, 70);
    border: 2px solid #6db5ff;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 7px 0;
    align-items: center;
}

.accordion .icon {
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background: url(toggle-bg.png) no-repeat 8px 7px #6db5ff;
    border-radius: 50%;
    float: left;
    transition: all 0.5s ease-in;
}

.accordion h5 {
    font-size: inherit;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: 400;
    color: #ffffff;
}

.active {
    /* background-color: #6db5ff; */
    color: #fff;
}

.active .icon {
    background: url(toggle-bg.png) no-repeat 8px -25px #fff;
}

.panel {
    color: white;
    padding: 0 15px;
    border-left: 1px solid #6db5ff;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in;
    font-size: medium;
    font-weight: 200;
    width: 95%;
}

/* CSS FOR FAQS SECTION ENDS */

/* CSS FOR FOOTER SECTION STARTS */

footer {
    /* height: 250px; */
    background-color: rgb(36, 34, 34);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
    padding-top: 1.5rem;
}

.about {
    display: flex;
    flex-flow: column;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.about p {
    width: 70%;
    text-align: center;
}

footer h2 {
    margin-bottom: 0.8rem;
}

footer .social_icons {
    display: flex;
    flex-direction: row;
    font-size: larger;
}

footer .social_icons a {
    color: white;
}

footer .social_icons i {
    margin: 1rem 1rem 0 0;
}

footer .social_icons #ico1:hover {
    transform: scale(1.1) translateY(-3px);
    transition: ease;
    color: rgb(92, 153, 245);
}

footer .social_icons #ico2:hover {
    transform: scale(1.1) translateY(-3px);
    transition: ease;
    color: rgb(76, 99, 230);
}

footer .social_icons #ico3:hover {
    transform: scale(1.1) translateY(-3px);
    transition: ease;
    color: rgb(197, 63, 218);
}

footer .social_icons #ico4:hover {
    transform: scale(1.1) translateY(-3px);
    transition: ease;
    color: rgb(221, 53, 50);
}

footer .contact i {
    margin-right: 5px;
}

footer .contact p:hover {
    color: rgb(92, 153, 245);
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
    color: white;
}

.copyright span {
    margin: 0 2px 0 1px;
}

/* CSS FOR FOOTER ENDS */

/* CSS FOR SCROLL ON TOP BUTTON STARTS */

.scrolltop {
    height: 40px;
    width:40px;
    position: fixed;
    border-radius: 50%;
    border-color: #2222de;
    background-color: #3b3b3b;
    align-self: flex-end;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.upwardarrowing {
    position: relative;
    top: 8px;
    left: 8px;
    align-items: center;
    align-content: center;
    align-self: center;
    height: 25px;
    width: auto;
}

.scrolltop.active{
    bottom: 10px;
    right: 10px;
    pointer-events:auto;  
    opacity: 1;
    transition: ease-out;
}

/* CSS FOR SCROLL ON TOP BUTTON ENDS */

/* responsiveness */

@media screen and (max-width:1315px) {
    .list {
        left: 55%;
        width: 520px;

    }

    .list1 {
        left: 6%
    }

    .list2 {
        left: 4%
    }

    .list-items {
        font-size: 18px;
    }

    h1 {
        font-weight: 800;
        transform: scale(1.3, 1.4);
    }
}


@media screen and (max-width:1215px) {
    .list {
        left: 50%
    }

    .list-items {
        font-size: 16px;

    }

    h1 {
        font-weight: 800;
        font-size: 90px;
        transform: scale(1.2, 1.3);
    }


}

@media screen and (max-width:1145px) {
    .list {
        left: 48%;
        width: 500px;
    }

    .list-items {
        font-size: 14px;

    }

    h1 {
        font-weight: 800;
        transform: scale(1.1, 1.4);
    }


}

@media screen and (max-width:980px) {

    .faqs {
        flex-direction: column;
    }

    .faqs img {
        margin-top: -8rem;
        width: 100vw;
    }

    .containerFluid {
        margin-top: 1.5rem;
        width: 70%;
    }

    .head3 {
        display: none;
    }

    .container2 .card2 {
        padding-bottom: 2rem;
    }

    .list {
        width: 100%;
        height: 25vh;
        background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        /* z-index: 90; */
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        /* transform: translateX(100%); */
        transition: all 0.5s linear;
        opacity: 0;
        pointer-events: none;
    }

    .list-item {
        display: block;
    }

    .list-items {
        display: block;
        height: 13px;
        font-size: 1.2rem;
    }

    .mobilenav {
        display: inline-block;
        left: 70%;
        width: 40px;
        z-index: 999;
    }


    .list1 {
        left: 6%
    }

    .list2 {
        left: 4%
    }

    .list-items {
        font-size: 14px;

    }

    h1 {
        font-size: 4rem;
        font-weight: 800;
        transform: scale(1.2, 1.4);
    }

    .active .list {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }

    .active .mobilenav ion-icon[name="close-circle"] {
        display: block;
    }

    .active .mobilenav ion-icon[name="menu-outline"] {
        display: none;
    }
}

@media screen and (max-width:860px) {

    .mobilenav {
        display: inline-block;

        left: 67%;
        /* right: 60%; */
    }

    .list1 {
        left: 5%
    }

    .list2 {
        left: 3%
    }

    h1 {
        font-weight: 800;
        transform: scale(1, 1.3);
    }
}

@media screen and (max-width:785px) {

    .mobilenav {
        display: inline-block;
        left: 60%;
    }

    .list1 {
        left: 5%
    }

    .list2 {
        left: 3%
    }

    h1 {
        font-size: 5rem;
        font-weight: 1000;
        transform: scale(0.8, 1);
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        position: relative;
        /* padding: 10px; */
    }

    footer .about {
        display: flex;
        width: 91%;
        align-items: flex-start;
        padding: 10px;

    }

    footer .about p {
        width: 100%;
        display: flex;
        text-align: left;
    }

    footer .contact {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    footer .contact h2 {
        left: 50%;
    }
}

@media screen and (max-width:655px) {

    .mobilenav {
        display: inline-block;
        left: 62%;
    }

    .list1 {
        width: 65px;
        left: 5%;
        margin-right: 1.5rem;
    }

    .list2 {
        width: 80px;
        left: 3%;

    }

    .list-items {

        font-size: 1rem;
        margin: 0 -0.5rem;

    }

    h1 {
        font-weight: 800;
        transform: scale(0.65, 0.9);
    }

    .winner::before {
        background: none;
    }

    .winner::after {
        background: none;
    }


}

@media screen and (max-width:545px) {

    .mobilenav {
        display: inline-block;
        left: 57%;
    }

    .list1 {
        left: 2%;
        margin-right: 1rem;
    }

    .list2 {
        left: 1%
    }

    .list-items {
        font-size: 14px;

    }

    h1 {
        font-size: 5.5rem;
        font-weight: 1000;
        transform: scale(0.5, 0.8);
    }

    .containerFluid {
        width: 80%;
    }

}

@media screen and (max-width:475px) {

    .mobilenav {
        display: inline-block;
        left: 50%;
    }

    .list1 {
        left: 2%
    }

    .list2 {
        left: 1%
    }

    .list-items {
        font-size: 14px;
        margin: 0 -0.6rem;

    }

    h1 {
        font-size: 6rem;
        font-weight: 1000;
        transform: scale(0.4, 0.7);
    }

}

@media screen and (max-width:410px) {
    .list {
        width: 300px;
        left: 2.5rem;
    }

    .mobilenav {
        display: inline-block;
        left: 50%;
    }

    .list1 {
        left: 4%;
        width: 50px;

    }

    .list2 {
        left: 5%;
        width: 50px;
    }

    .list-items {
        font-size: 0.8rem;
        margin: 0 -0.5rem;
        padding-left: 15px;

    }

    h1 {
        font-weight: 1200;
        font-size: 7rem;
        transform: scale(0.3, 0.5);
    }

    .containerFluid {
        width: 85%;
    }
}

@media screen and (max-width:350px) {

    .list {
        width: 250px;
        left: 1.8rem;
    }


    .mobilenav {
        display: inline-block;
        left: 45%;
    }

    .list1 {
        left: 4%;
        width: 50px;

    }

    .list2 {
        left: 5%;
        width: 50px;
    }

    .list-items {
        font-size: 0.7rem;
        margin: 0 -0.7rem;

    }

    h1 {
        font-weight: 900;
        font-size: 6rem;
        transform: scale(0.3, 0.5);
    }
}

@media screen and (max-width:295px) {
    .list {
        width: 230px;
        left: 1.5rem;
    }


    .mobilenav {
        display: inline-block;
        left: 38%;
    }

    .list1 {
        left: 4%;
        width: 50px;

    }

    .list2 {
        left: 5%;
        width: 50px;
    }

    .list-items {
        font-size: 10px;

    }

    .card {
        padding: 20px 15px;
        margin: 30px 50px;
        max-width: 280px;
    }

    h1 {
        font-weight: 900;
        font-size: 5rem;
        transform: scale(0.3, 0.5);
    }
}

/* _W3B_I5_ */